<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Google Maps Application</a>
    </div>

  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="map">
        <sebm-google-map
          [latitude]="lat"
          [longitude]="lng"
          [zoom]="zoom"
          [disableDefaultUI]= false
          [zoomControl]= false
          (mapClick)="mapClicked($event)"
          >
          <sebm-google-map-marker
            *ngFor="let m of markers, let i = index"
            (markerClick)="clickedMarker(m,i)"
            [latitude]="m.lat"
            [longitude]="m.lng"
            [markerDraggable]="m.draggable"
            (dragEnd)="markerDragEnd(m, $event)"
          >
            <sebm-google-map-info-window>
              <strong>{{m.name}}</strong>
              <br>
              <a href="#" (click)="removeMarker(m)" class="delete">Delete</a>
            </sebm-google-map-info-window>
          </sebm-google-map-marker>
        </sebm-google-map>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Add New Marker</h3>
        </div>
        <div class="panel-body">
          <form (submit)="addMarker()">
            <label>Location Name</label>
            <input type="text" [(ngModel)]="markerName" name="markerName">

            <label>Latitude</label>
            <input type="text" [(ngModel)]="markerLat" name="markerLat">

            <label>Longitude</label>
            <input type="text" [(ngModel)]="markerLng" name="markerLng">

            <label>Draggable</label>
            <select [(ngModel)]="markerDraggable" name="markerDraggable">
              <option value="no">No</option>
              <option value="yes">Yes</option>
            </select>

            <input  type="submit" value="Map It!">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




